.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border: 1px solid orange;
  margin: 25px;
  background-image: url("https://t4.ftcdn.net/jpg/01/64/97/85/360_F_164978534_Nt7VabnGZa7XqyLKvu9ZWIjuP2AIwlH9.jpg");
  background-size: contain;
}

.input-row {
  box-shadow: 1px 1px 3px black;
  min-width: 300px;
  font-size: 20px;
  height: 3rem;
  min-width: 500px;
  padding-left: 10px;
}

.title {
  justify-content: center;
  display: flex;
}

button {
  color: white;
  background-color: blue;
  border: none;
  box-shadow: 1px 1px 3px black;
  font-size: 20px;
  padding: 10px;
  margin-top: 3rem;
}

.processed-data {
  border: 1px 1px 1px solid rgb(94, 93, 93);
  background-color: rgb(237, 233, 233);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  margin: 0 300px;
}

.center {
  margin: 15px auto;
}

.prices {
  margin: auto;
}

.flex {
  display: inline-flex;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

.hidden {
  display: none;
}

.box {
  background: radial-gradient(circle, rgba(156, 154, 154, 0.5) 40%, transparent 70%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 600px;
  margin: 15px;
}